<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{context['page_title']}} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/page.css')}}">
    <script src="{{url_for('static',filename='js/darkLightScript.js')}}" defer></script>
    {% block css%}
    {% endblock %}
    {% block js %}
    {% endblock %}
    <script>
        function ConfirmDelete(e) {
            confirm("Are you sure you want to delete?");   
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <nav>
            <section id="top-nav">
                <a href="{{url_for('main_bp.home')}}"><img id="salon-logo" src="{{url_for('static',filename='images/salon-logo.jpeg')}}" alt="Salon Logo"></a>
                <div id="logo-line"></div>
                {%if current_user.access!=4%}
                    <p>Click Logo for Home Page</p>
                {%else%}
                    <p>Click Logo for Admin Dashboard</p>
                {%endif%}
                <button class="button" type="button" id="button1">Light Mode</button>
            </section>
            <section id="bottom-nav">
                <a href="{{url_for('appointment_bp.list_appointments')}}">All Appointments</a>
                {% if current_user.is_authenticated%}
                    <a href="{{url_for('admin.my_appointments')}}">My Appointments</a>
                    {% if current_user.type != "Employee" %}
                        <a href="{{url_for('appointment_bp.create_appointment')}}">Create an appointment</a>
                    {% endif %}
                {%else%}
                    <a href="{{url_for('auth_bp.login')}}">Login</a>
                    <a href="{{url_for('auth_bp.register')}}">Register</a>
                {%endif%}
                {% block nav %}
                {% endblock %}
                <a href="{{url_for('apiDocs.api_docs')}}">Api Docs</a>
                <a href="{{url_for('main_bp.about')}}">About</a>
            </section>
        </nav>
        <section id="right-area">
            <header>
                <h1>{{context.get('main_head')}}</h1>
                <section id="profile-picture-section">
                    {%if current_user.is_authenticated%}
                        {% if current_user.access in [2,3,4] %}
                        <div id="admin-dropdown">
                            <p id="admin-dropdown-button">Admin Options▾</p>
                            <div id="dropdown-menu">
                                {%if current_user.access== 2 or current_user.access==4%}
                                    <a href="{{url_for('admin.users')}}">All Users</a>
                                    <a href="{{url_for('admin.register')}}">Add new user</a>
                                {%endif%}
                                {% if current_user.access== 4 %}
                                    <a href="{{url_for('admin.logs')}}">All logs</a>
                                {% endif %}
                                {%if current_user.access== 3 or current_user.access==4%}
                                    <a href="{{url_for('admin.create_appointment')}}">Admin Create Appointment</a>
                                {%endif%}
                            </div>
                        </div>
                        {% endif %}
                        <p class="profile-identifier">{{current_user['username']}}</p>
                        <p class="profile-identifier">{{current_user['type']}}</p>
                        <a id="logout" href="{{url_for('auth_bp.logout')}}">Logout</a>
                        <a href="{{url_for('admin.profile')}}">
                            <img id="profile-picture" src="{{url_for('static',filename='images/' + current_user.user_image)}}" alt="Profile Picture">
                        </a>
                    {%endif%}
                </section>
            </header>
            <main>
                {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages%}
                        {%for categ,msg in messages%}
                            <section class ='{{categ}}'>
                                <p>{{msg}}</p>
                            </section>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <section id="forms-section">
                    {% block forms_section %}
                    {% endblock %}
                </section>
                <section id="info-section">
                    {% block info_section %}
                    {% endblock %}
                </section>
                {% block content %}
                {% endblock %}
            </main>
        </section>
    </div>
</body>
</html>
