main {
    display: flex;
    align-items: center;
}

#forms-section {
    flex: 2;
}

#info-section {
    flex: 1;
}

#forms-section h2 {
    color: white;
}

@media screen and (max-width: 890px){
    main {
        flex-direction: column;
        padding-bottom: 20svh;
    }

    #info-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}