#info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0;
}

fieldset input {
    color:red;
}

form {
    background-color: light-dark(#528B9C, var(--dark-bright-highlight));
    padding-top: 1svh;
}

#forms-section.lightmode form {
    background-color: #528B9C;
}

#forms-section form legend {
    font-size: larger;
    float: left;
    text-decoration: underline;
    text-align: right;
}

#forms-section form #submit {
    width: 100%;
}

form input {
    min-width: 2svh;
}

@media screen and (max-width: 506px) {
    #forms-section form legend {
        float: none;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}