#info-section {
    display: flex;
    padding: 5svh 0 5svh 0;
}

.dashboard-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-block h1 {
    color: white;
    font-size: xx-large;
}

.allRecords {
    width: 90%;
}