main {
    display: flex;
}

#forms-section {
    flex: 2;
}

#info-section {
    flex: 1;
    display: flex;
    align-items: center;
}

#access_form{
    display: none;
}

#active_form{
    display:none;
}

#access_form label,input{
    padding: 1em 1em 1em 1em;
}

#active_form label,input{
    padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 890px){
    main {
        flex-direction: column;
        padding-bottom: 20svh;
    }
}
