{%extends 'base.html'%}
{% block css %}
<link rel="stylesheet" href="{{url_for('main_bp.static', filename='css/about.css')}}">
{% endblock css %}
{%block content%}
<section class="about-profile-sections">
    <img src="../../static/images/default.png" alt="default pic">
    <h2>Noah Gelinas</h2>
    <p>I am Noah.</p>
</section>
<section class="about-profile-sections">
    <img src="../../static/images/default.png" alt="default pic">
    <h2>Kristian Garkov</h2>
    <p>Hello, I love web development!</p>
</section>
<section class="about-profile-sections">
    <img src="../../static/images/default.png" alt="default pic">
    <h2>David Parker</h2>
    <p>David Parker loves Nasr.</p>
</section>
{%endblock content%}