:root {
    color-scheme: light dark;

    --light-bg: #D4D4CA;
    --light-accent: #C8C8BE;
    --light-highlight: #9CD2B8;
    --light-bright-highlight: #8be2b8;
    --light-final-hover: #52997B;
    --light-button: #519c7d;
    --light-text: black;

    --dark-bg: #2B2B35;
    --dark-accent: #373741;
    --dark-highlight: #632D47;
    --dark-bright-highlight: #AD6684;
    --dark-final-hover: #4a2335;
    --dark-button: #7B455C;
    --dark-text: white;
}

#info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5svh 0 5svh 0;
}

fieldset {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0;
}

form {
    background-color: light-dark(#528B9C, var(--dark-bright-highlight));
    padding-top: 1svh;
}

#forms-section.lightmode form {
    background-color: #528B9C;
}

#forms-section form legend {
    font-size: larger;
    float: left;
    text-decoration: underline;
    text-align: right;
}

#forms-section form #submit {
    width: 100%;
}

form input {
    min-width: 2svh;
}

@media screen and (max-width: 506px) {
    #forms-section form legend {
        float: none;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}