:root {
    color-scheme: light dark;

    --light-bg: #D4D4CA;
    --light-accent: #C8C8BE;
    --light-highlight: #9CD2B8;
    --light-bright-highlight: #8be2b8;
    --light-final-hover: #52997B;
    --light-text: black;

    --dark-bg: #2B2B35;
    --dark-accent: #373741;
    --dark-highlight: #632D47;
    --dark-bright-highlight: #AD6684;
    --dark-final-hover: #4a2335;
    --dark-text: white;
}

main {
    display: flex;
}

#forms-section {
    width: 0;
}

.about-profile-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: light-dark(var(--light-text), var(--dark-text));
    padding-top: 20svh;
}

.about-profile-sections img {
    border-radius: 50%;
    width: 25svw;
}

@media screen and (max-width: 890px){
    main {
        flex-direction: column;
        padding-bottom: 20svh;
    }
    
    .about-profile-sections img {
        width: 60svw;
    }
}