{%extends 'base.html'%}
{%block content%}
    <h3>Command which will return all appointments in database:<br> curl http://localhost:5015/api/appointments</h3>
    <h4>Example results: </h4>
    <pre>
    {
        "len": 3,
        "appointment_list": [
            {
                "appointment_id": 1,
                "date_appointment": "2024-05-08 12:01:58",
                "slot": "slot1",
                "venue": "venue1",
                "user_id": 1,
                "employee_id": 2,
                "user_name": "user_manager1",
                "employee_name": "employee1"
            },
            {
                "appointment_id": 2,
                "date_appointment": "2024-05-08 12:01:58",
                "slot": "10:30 am",
                "venue": "hair salon",
                "user_id": 1,
                "employee_id": 4,
                "user_name": "user_manager1",
                "employee_name": "test"
            },
            {
                "appointment_id": 3,
                "date_appointment": "2024-05-10 00:00:00",
                "slot": "morning",
                "venue": "Some venue",
                "user_id": 1,
                "employee_id": 2,
                "user_name": "John Doe",
                "employee_name": "Jane Smith"
            }
        ]
    }
    </pre>
    <h3>
        Command which will return 1 appointment in database:<br> curl http://localhost:5015/api/appointment/1
    </h3>
    <h4>Example Result:</h4>
    <pre>
        {
            "appointment_id": 1,
            "status": "in progress",
            "approved": 1,
            "date_appointment": "2024-05-08 12:01:58",
            "slot": "slot1",
            "venue": "venue1",
            "user_id": 1,
            "employee_id": 2,
            "user_name": "user_manager1",
            "employee_name": "employee1",
            "num_services": 1
        }
    </pre>

    <h3>
        Command which will add new appointment to database:<br> curl -X POST http://localhost:5015/api/appointments
    </h3>
    <h4>Example Result:</h4>
    <pre>
        {
            "len": 4,
            "appointment_list": [
                {
                    "appointment_id": 1,
                    "date_appointment": "2024-05-08 12:01:58",
                    "slot": "slot1",
                    "venue": "venue1",
                    "user_id": 1,
                    "employee_id": 2,
                    "user_name": "user_manager1",
                    "employee_name": "employee1"
                },
                {
                    "appointment_id": 2,
                    "date_appointment": "2024-05-08 12:01:58",
                    "slot": "10:30 am",
                    "venue": "hair salon",
                    "user_id": 1,
                    "employee_id": 4,
                    "user_name": "user_manager1",
                    "employee_name": "test"
                },
                {
                    "appointment_id": 21,
                    "date_appointment": "2024-05-14 00:00:00",
                    "slot": "morning",
                    "venue": "room 1",
                    "user_id": 1,
                    "employee_id": 4,
                    "user_name": "user1",
                    "employee_name": "employee"
                },
                {
                    "appointment_id": 3,
                    "date_appointment": "2024-05-10 00:00:00",
                    "slot": "morning",
                    "venue": "Some venue",
                    "user_id": 1,
                    "employee_id": 2,
                    "user_name": "John Doe",
                    "employee_name": "Jane Smith"
                }
            ]
        }
    </pre>
    <h3>Command which will delete a record: <br>curl -X DELETE http://localhost:5015/api/appointment/1</h3>
    <h4>Example Result:</h4>
    <pre>
        resource 21 has been deleted
    </pre>
    <h3>
        Command which will update appointment to database:<br> curl -X PATCH http://localhost:5015/api/appointment/3 -d '{"slot":"hello"}' -H "Content-Type: application/json"
    </h3>
    <h4>Example Result:</h4>
    <pre>
        {
            "appointment_id": 3,
            "approved": 0,
            "date_appointment": "2024-05-16 00:00:00",
            "employee_id": 4,
            "employee_name": "test",
            "num_services": 1,
            "slot": "hello",
            "status": "Pending",
            "user_id": 3,
            "user_name": "nasr",
            "venue": "301"
          }          
    </pre>
{%endblock content%}