{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('report_bp.static', filename='css/report.css')}}">
{% endblock %}
{% block forms_section %}
    {%macro render_field (field,plc_holder)%}
    {% if field.errors%}
        {{field(class = 'form-field error-field', placeholder=plc_holder)}}
        <ul>
        {% for error in field.errors%}
            <li>{{error}}</li>
        {%endfor%}
        </ul> 
    {%else%}
        {{field(class = 'form-field success',placeholder=plc_holder)}}
    {%endif%}
    {%endmacro%} 
    <h2>Appointment with {{context.appointment[9]}}</h2>
    {% if current_user.user_id in (context['appointment'][7], context['appointment'][6]) or current_user.access in [3, 4] %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            {% if current_user.access in [3, 4] %}
                {{render_field(form.prof_feedback,"Professional Feedback")}}
                {{render_field(form.client_feedback,"Client Feedback")}}
            {% elif current_user.type == "Client" %}
                {{render_field(form.client_feedback,"Client Feedback")}}
            {% elif current_user.type == "Employee" %}
                {{render_field(form.prof_feedback,"Professional Feedback")}}
            {% endif %}
            {{form.submit(class='button')}}
        </form>
    {% endif %}
{% endblock forms_section %}
{% block info_section %}
    <section class="allRecords">
        {% if context.report %}
            <p>Status: {{context.report[2]}}</p>
            <p>Date: {{context.report[3]}}</p>
            <p>Professional Feedback: {{context.report[4]}}</p>
            <p>Client Feedback: {{context.report[5]}}</p>
        {% endif %}
        {% if current_user.access in [3,4] and context.report is not none%}
            <a onclick="return confirm('Press OK to delete')" href="{{url_for('admin.delete_report', appointment_id=context.appointment[0])}}">Delete</a>
        {% endif %}
    </section>
{% endblock info_section %}