:root {
    color-scheme: light dark;

    --light-bg: #D4D4CA;
    --light-accent: #C8C8BE;
    --light-highlight: #9CD2B8;
    --light-bright-highlight: #8be2b8;
    --light-final-hover: #52997B;
    --light-button: #519c7d;
    --light-text: black;

    --dark-bg: #2B2B35;
    --dark-accent: #373741;
    --dark-highlight: #632D47;
    --dark-bright-highlight: #AD6684;
    --dark-final-hover: #4a2335;
    --dark-button: #7B455C;
    --dark-text: white;
}

.allRecords {
    background-color: light-dark(var(--light-accent), var(--dark-accent));
    color: light-dark(var(--light-text), var(--dark-text));
    padding: 2svh;
    margin-top: 2vh;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px light-dark(var(--light-final-hover), var(--dark-highlight));
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.allRecords:hover {
    animation: recordHover 250ms ease-in-out;
    box-shadow: 7px 7px 15px light-dark(var(--light-bright-highlight), var(--dark-bright-highlight));
}

.allRecords a, .no-appointments a {
    text-decoration: none;
    color: light-dark(var(--light-text), var(--dark-text));
    background-color: light-dark(var(--light-button), var(--dark-button));
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.allRecords a:hover, .no-appointments a:hover {
    background-color: light-dark(var(--light-bright-highlight), var(--dark-bright-highlight));
}

.record-buttons {
    display: flex;
    gap: 3px;
}

.record-buttons a {
    display: flex;
    align-items: center;
}

.no-appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.no-appointments p {
    font-size: 2em;
}

.no-appointments a {
    height: 30px;
}

@keyframes recordHover {
    0% {
        box-shadow: 5.5px 5.5px 11px light-dark(var(--light-button), var(--dark-button));
    }

    100% {
        box-shadow: 7px 7px 15px light-dark(var(--light-bright-highlight), var(--dark-bright-highlight));
    }
}
