@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

:root {
    color-scheme: light dark;

    --light-bg: #D4D4CA;
    --light-accent: #C8C8BE;
    --light-highlight: #9CD2B8;
    --light-bright-highlight: #8be2b8;
    --light-final-hover: #52997B;
    --light-text: black;

    --dark-bg: #2B2B35;
    --dark-accent: #373741;
    --dark-highlight: #632D47;
    --dark-bright-highlight: #AD6684;
    --dark-final-hover: #4a2335;
    --dark-text: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    height: 100%;
    background-color: light-dark(var(--light-accent), var(--dark-accent));
}

#button1 {
    color: black;
    background-color: white;
}

nav {
    flex: 1;
    background-color: light-dark(var(--light-accent), var(--dark-accent));
    gap: 7%;
    padding-bottom: 2svh;
}

#top-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2svh;
}

#salon-logo {
    max-width: 100%;
    padding: 10px;
    border-radius: 50%;
}

#logo-line {
    padding: 1px;
    background: linear-gradient(to right, light-dark(var(--light-bg), var(--dark-bg)), light-dark(var(--light-text), var(--dark-text)), light-dark(var(--light-bg), var(--dark-bg)))
}

#bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding-left: 2svh;
}

#bottom-nav a:last-of-type {
    margin-top: auto;
}

#bottom-nav a {
    text-decoration: none;
    color: light-dark(var(--light-text), var(--dark-text));
    text-align: center;
    font-size: larger;
    padding: 20px 40px 20px 10px;
    border-radius: 100vw 0 0 100vw;
}

#logout {
    text-decoration: none;
    color: light-dark(var(--light-text), var(--dark-text));
    text-align: center;
    font-size: large;
    padding: 1svh;
    border-radius: 50vw;
}

#bottom-nav a:hover, #logout:hover {
    background-color: light-dark(var(--light-highlight), var(--dark-highlight));
}

#right-area {
    flex: 15;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    color: light-dark(var(--light-text), var(--dark-text));
    background-color: light-dark(var(--light-accent), var(--dark-accent));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 10%;
}

header h1 {
    flex: 1;
}

#admin-dropdown-button {
    background: none;
    border: none;
    text-decoration: none;
    color: light-dark(var(--light-text), var(--dark-text));
    font-size: larger;
    cursor: pointer;
    padding: 0;
}

#admin-dropdown {
    position: relative;
    width: fit-content;
}

#dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: light-dark(var(--light-final-hover), var(--dark-highlight));
    padding: .75rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

#dropdown-menu a {
    text-decoration: none;
    color: light-dark(var(--light-text), var(--dark-text));
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#dropdown-menu a:hover {
    background-color: light-dark(var(--light-bright-highlight), var(--dark-bright-highlight));
}

#admin-dropdown:hover #dropdown-menu {
    display: block;
}

#profile-picture-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1svw;
    font-size: larger;
}

#logout, #profile-picture {
    display: flex;
    justify-content: end;
    align-items: end;
}

#profile-picture {
    max-width: 8svh;
    border-radius: 50%;
}

main {
    flex: 10;
    border-top-left-radius: 2%;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    overflow: auto;
    color: light-dark(var(--light-text), var(--dark-text));
}

.success, .warning, .error, .message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    padding: 20px;
}

.success {
    background-color: darkgreen;
}

.warning {
    background-color: orange;
}

.error {
    background-color: darkred;
}

.message {
    background-color: #9bc15c;
}

#forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5svh;
}

#forms-section form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1%;
}

#forms-section form * {
    width: 25%;
    padding: 1%;
    border: none;
    background-color: transparent;
    font-size: large;
    text-align: center;
    color: light-dark(var(--light-text), var(--dark-text));
}

#forms-section form input {
    border-bottom: 2px solid white;
}

#forms-section form input:focus {
    outline: none;
}

#forms-section form select {
    border-bottom: 2px solid white;
    cursor: pointer;
}

#forms-section form option {
    background-color: light-dark(var(--light-accent), var(--dark-accent));
}

#forms-section form #submit {
    background-color: light-dark(var(--light-final-hover), var(--dark-highlight));
    color: light-dark(var(--light-text), var(--dark-text));
    cursor: pointer;
    border-bottom: none;
}

#forms-section form #submit:hover {
    background-color: light-dark(var(--light-bright-highlight), var(--dark-final-hover));
}

#forms-section p {
    color: light-dark(var(--light-text), var(--dark-text));
}

#forms-section p a {
    background-color: light-dark(var(--light-highlight), var(--dark-highlight));
    color: light-dark(var(--light-text), var(--dark-text));
    padding: 5px;
    border-radius: 20%;
}

.update {
    display:none;
}

#password {
    display:block;
}

@media screen and (max-width: 890px) {
    #bottom-nav {
        padding-left: 0;
    }

    #bottom-nav a {
        padding-right: 10px;
    }

    header h1 {
        display: none;
    }

    #profile-picture-section {
        justify-content: center;
    }

    #forms-section input, #forms-section select, #submit{
        width: 50%;
    }

    #info-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .dashboard-block {
        padding-bottom: 5svh;
    }
}

@media screen and (max-width: 506px) {
    .profile-identifier {
        display: none;
    }

    .record-buttons {
        flex-direction: column;
        align-items: center;
    }
}
