{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/all-logs.css')}}">
{% endblock %}
{% block info_section %}    
    {% for log in logs %}
    <section class="allRecords">
        <p>Username: {{log[1]}}</p>
        <p>Action: {{log[2]}}</p>
        <p>Date: {{log[3]}}</p>
    </section>
    {% endfor %}
{% endblock info_section %}