{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/all-users.css')}}">
{% endblock %}
{% block info_section %}    
    {% for user in users %}
    <section class="allRecords">
        <p>Name: {{user[4]}}</p>
        <p>Type: {{user[2]}}</p>
        <p>Access Level: {{user[3]}}</p>
        <p>Active Level: {{user[1]}}</p>
        <p>Email: {{user[5]}}</p>
        <p>Phone Number: {{user[8]}}</p>
        <p>Address: {{user[9]}}</p>
        <p>Age: {{user[10]}}</p>
        <section class="record-buttons">
            <a href="{{url_for('admin.update',user_id=user[0])}}">Click to update this profile</a>
            <a onclick="return confirm('Press OK to delete')" href="{{url_for('admin.delete',user_id=user[0])}}">Click to Delete Profile</a>
        </section>
    </section>
    {% endfor %}
{% endblock info_section %}

{% block forms_section %}
    <form method="POST">
        {{ filter_form.hidden_tag() }}

        <fieldset>
            <legend>Status:</legend>
            {{ filter_form.username(placeholder = "Enter a username") }}
        </fieldset>
        
        <fieldset>
            <legend>Sort:</legend>

            {% for subfield in filter_form.type %}
                {{ subfield }}
                {{ subfield.label }}
            {% endfor %}
        </fieldset>

        {{ filter_form.submit }}
    </form>
{% endblock %}