{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/dashboard.css')}}">
{% endblock %}
{% block info_section %}
<section class="dashboard-block">
    <h1>List of Users</h1>
    {% for user in users %}
    <section class="allRecords">
        <p>Name: {{user[4]}}</p>
        <p>Type: {{user[2]}}</p>
        <p>Access Level: {{user[3]}}</p>
        <p>Active Level: {{user[1]}}</p>
        <p>Email: {{user[5]}}</p>
        <p>Phone Number: {{user[8]}}</p>
        <p>Address: {{user[9]}}</p>
        <p>Age: {{user[10]}}</p>
        <section class="record-buttons">
            <a href="{{url_for('admin.update',user_id=user[0])}}">Click to update this profile</a>
            <a onclick="return confirm('Press OK to delete')" href="{{url_for('admin.delete',user_id=user[0])}}">Click to Delete Profile</a>
        </section>
    </section>
    {% endfor %}
</section>
<section class="dashboard-block">
    <h1>List of Logs</h1>
    {% for log in logs %}
    <section class="allRecords">
        <p>Username: {{log[1]}}</p>
        <p>Action: {{log[2]}}</p>
        <p>Date: {{log[3]}}</p>
    </section>
    {% endfor %}
</section>
<section class="dashboard-block">
    <h1>List of appointments</h1>
    {% for appointment in appointments %}
        <section class="allRecords">
            <p>Appointment ID: {{appointment[0]}}</p>
            <p>Status: {{appointment[1]}}</p>
            <p>Date: {{appointment[3]}}</p>
            <p>Time Slot: {{appointment[4]}}</p>
            <p>Venue: {{appointment[5]}}</p>
            <p>Customer: {{appointment[8]}}</p>
            <p>Employee: {{appointment[9]}}</p>
            <section class="record-buttons">
                <a href="{{url_for('appointment_bp.update_appointment', appointment_id=appointment[0])}}">Update this appointment</a>
                <a onclick="return confirm('Press OK to delete')" href="{{url_for('appointment_bp.delete_appointment', appointment_id=appointment[0])}}">Delete this appointment</a>
                <a href="{{url_for('report_bp.report_page', appointment_id=appointment[0])}}">Update this Report</a>
            </section>
        </section>
    {% endfor %}
</section>
{% endblock info_section %}