{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/more-info.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
{% endblock %}
{% block info_section %}    
    <section class="allRecords">
        <p>Status: {{appointment[1]}}</p>
        <p>Date: {{appointment[3]}}</p>
        <p>Time Slot: {{appointment[4]}}</p>
        <p>venue: {{appointment[5]}}</p>
        <p>Employee: {{appointment[9]}}</p>
        <p>Service: {{service[1]}} - Price: ${{ service[3] }}</p>
        {%for report in report_list%}
            <p>Client report: {{report[3]}}</p>
            <p>Client report: {{report[4]}}</p>
        {%endfor %}
    </section>
{% endblock info_section %}