{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/myappointment.css')}}">
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/appointment.css')}}">
{% endblock %}
{% block info_section %}
    {% if all_appointments_length %}
        {% for appointment in appointments_list %}
        <section class="allRecords">
            <p>Status: {{appointment[1]}}</p>
            <p>Date: {{appointment[3]}}</p>
            <p>Time Slot: {{appointment[4]}}</p>
            <p>venue: {{appointment[5]}}</p>
            {% if current_user.type == "Client" %}
                <p>Employee: {{appointment[9]}}</p>
            {% else %}
                <p>Client: {{appointment[8]}}</p>
            {% endif %}
            <section class="record-buttons">
                <a href="{{url_for('admin.app_info',id=appointment[0])}}">Click for more Info</a>
                <a href="{{url_for('report_bp.report_page', appointment_id=appointment[0])}}">Report</a>
                <a href="{{url_for('appointment_bp.update_appointment', appointment_id=appointment[0])}}">Update</a>
                <a onclick="return confirm('Press OK to delete')" href="{{url_for('appointment_bp.delete_appointment', appointment_id=appointment[0])}}">Delete</a>
            </section>
        </section>
        {% endfor %}
    {% else %}
        <section class="no-appointments">
            <p>You currently have no appointments.</p>
            {% if current_user.type != "Employee" %}
                <a href="{{url_for('appointment_bp.create_appointment')}}">Create an appointment</a>
            {% endif %}
        </section>
    {% endif %}
{% endblock info_section %}

{% block forms_section %}
    {% if all_appointments_length %}
        <form method="POST">
            {{ filter_form.hidden_tag() }}

            <fieldset>
                <legend>Status:</legend>

                {% for subfield in filter_form.filter %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </fieldset>
            

            <fieldset>
                <legend>Sort:</legend>

                {% for subfield in filter_form.sort %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </fieldset>

            {{ filter_form.submit }}
        </form>
    {% endif %}
{% endblock %}
