{%extends 'base.html'%}
{% block css %}
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/profile.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
{% endblock %}
{%block nav%}
    <a href="{{url_for('admin.update',user_id=current_user.user_id)}}">Update Profile</a>
    <a onclick="return confirm('Press OK to delete')" href="{{url_for('admin.delete',user_id=current_user.user_id)}}">Delete Profile</a>
{%endblock nav%}
{%block info_section%}
    <section class="allRecords">
        <p>Name: {{current_user['username']}}</p>
        <p>Type: {{current_user['type']}}</p>
        <p>Access Level: {{current_user['access']}}</p>
        <p>Email: {{current_user['email']}}</p>
        <p>Phone Number: {{current_user['phone_number']}}</p>
        <p>Address: {{current_user['address']}}</p>
        <p>Age: {{current_user['age']}}</p>
        {%if current_user['type']=="Employee"%}
            <p>Specialty: {{current_user['specialty']}}</p>
            <p>Pay: {{current_user['pay_rate']}}</p>
        {%endif%}
    </section> 
{%endblock info_section%}