{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/update-profile.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
{% endblock %}
{%block js%}
<script src="{{url_for('static',filename='js/formUpdateUser.js')}}"></script>
{%endblock js%}
{% block forms_section %} 
    {%macro render_field (field,plc_holder)%}
        {% if field.errors%}
            {{field(class = 'form-field error-field',placeholder=plc_holder)}}
            <ul>
            {% for error in field.errors%}
                <li>{{error}}</li>
            {%endfor%}
            </ul> 
        {%else%}
            {{field(class = 'form-field success update',placeholder=plc_holder)}}
        {%endif%}
    {%endmacro%} 
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{form.hidden_tag()}}
        {{form.type()}}
        {{render_field(form.password,"Enter New Password")}}
        {{render_field(form.email,"Enter New Email")}}
        {{render_field(form.phone_number,"Enter New Phone Number")}}
        {{render_field(form.address,"Enter New Address")}}
        {{render_field(form.age,"Enter New Age")}}
        {{render_field(form.specialty,"Enter New Specialty")}}
        {{render_field(form.pay_rate,"Enter New Pay")}}
        {{render_field(form.user_image,"Enter New Image")}}
        <fieldset id="access_form" class="update">
            {%for subfield in form.access_level%}
                {{subfield.label}}
                {{subfield}}
            {%endfor%}
        </fieldset>
        <fieldset id="active_form" class="update">
            {%for subfield in form.is_active%}
                {{subfield.label}}
                {{subfield}}
            {%endfor%}
        </fieldset>
        
        
        {{form.submit(class='button')}}
    </form>
{% endblock forms_section %}
{%block info_section%}

<section class="allRecords">
    <p>Name: {{user[4]}}</p>
    <p>Type: {{user[2]}}</p>
    <p>Access Level: {{user[3]}}</p>
    <p>Email: {{user[5]}}</p>
    <p>Phone Number: {{user[8]}}</p>
    <p>Address: {{user[9]}}</p>
    <p>Age: {{user[10]}}</p>
    {%if current_user['type']=="Employee"%}
        <p>Specialty: {{user[12]}}</p>
        <p>Pay: {{user[11]}}</p>
    {%endif%}
</section> 

{%endblock info_section%}