{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('auth_bp.static',filename='css/register.css')}}">
{% endblock css %}
{%block js%}
<script src="{{url_for('static',filename='js/formRegister.js')}}"></script>
{%endblock js%}

{% block forms_section %} 
    {%macro render_field (field,plc_holder)%}
        {% if field.errors%}
            {{field(class = 'form-field error-field',placeholder=plc_holder)}}
            <ul>
            {% for error in field.errors%}
                <li>{{error}}</li>
            {%endfor%}
            </ul> 
        {%else%}
            {{field(class = 'form-field success',placeholder=plc_holder)}}
        {%endif%}
    {%endmacro%} 
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.type()}}
        {{render_field(form.username,"Enter Username")}}
        {{render_field(form.password,"Enter Password")}}
        {{render_field(form.email,"Enter Email")}}
        {{render_field(form.phone,"Enter Phone Number")}}
        {{render_field(form.address,"Enter Address")}}
        {{render_field(form.age,"Enter Age")}}
        {{render_field(form.specialty,"Enter Specialty")}}
        {{render_field(form.pay_rate,"Enter Pay if comfortable")}}
        
        {{form.submit(class='button')}}
    </form>
    <p>If you are already a member, login
        <a href="{{url_for('auth_bp.login')}}">here</a>
    </p>
    
{% endblock forms_section %}