{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/appointment.css')}}">
{% endblock %}
{% block info_section %}
    {% if appointments_length %}
        {% for appointment in appointments %}
            <section class="allRecords">
                <p>Status: {{appointment[1]}}</p>
                <p>Date: {{appointment[3]}}</p>
                <p>Time Slot: {{appointment[4]}}</p>
                <p>Room: {{appointment[5]}}</p>
                <p>Client: {{appointment[8]}}</p>
                <p>Employee: {{appointment[9]}}</p>
                {%if current_user.access==3 or current_user.access==4%}
                    <section class="record-buttons">
                        <a href="{{url_for('appointment_bp.update_appointment', appointment_id=appointment[0])}}">Update this appointment</a>
                        <a onclick="return confirm('Press OK to delete')" href="{{url_for('appointment_bp.delete_appointment', appointment_id=appointment[0])}}">Delete this appointment</a>
                        <a href="{{url_for('report_bp.report_page', appointment_id=appointment[0])}}">Update this Report</a>
                    </section>
                {%endif%}
            </section>
        {% endfor %}
    {% else %}
        <section class="no-appointments">
            <p>There are currently no appointments.</p>
            {% if current_user.is_authenticated and current_user.type != "Employee" %}
                <a href="{{url_for('appointment_bp.create_appointment')}}">Create an appointment</a>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}

{% block forms_section %}
    {% if appointments_length %}
        <form method="POST">
            {{ filter_form.hidden_tag() }}

            <fieldset>
                <legend>Status:</legend>

                {% for subfield in filter_form.filter %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </fieldset>
            

            <fieldset>
                <legend>Sort:</legend>

                {% for subfield in filter_form.sort %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </fieldset>

            {{ filter_form.submit }}
        </form>
    {% endif %}
{% endblock %}
