{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/create-appointment.css')}}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/formDate.js') }}"></script>
{% endblock %}

{% block forms_section %}
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.employee() }}
        {{ form.date() }}
        {{ form.time_slot() }}
        {{ form.room() }}
        {{ form.service() }}

        {{ form.submit() }}
    </form>
{% endblock %}
