{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all-records.css')}}">
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/update-appointment.css')}}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/formDate.js') }}"></script>
{% endblock %}

{% block forms_section %}
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.employee() }}
        {{ form.date() }}
        {{ form.time_slot() }}
        {{ form.room() }}
        {{ form.service() }}
        {{ form.status() }}

        {{ form.submit() }}
    </form>
{% endblock %}

{% block info_section %}    
    <section class="allRecords">
        <p>Date: {{appointment[3]}}</p>
        <p>Time Slot: {{appointment[4]}}</p>
        <p>venue: {{appointment[5]}}</p>
        <p>Employee: {{appointment[9]}}</p>
        <p>Service: </p>
    </section>
{% endblock info_section %}
